/* Tags */
body {
  margin: 0;
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  color: #4ecca3;
  text-align: center;
}

h3  {
  margin: 30px;
  font-family: "", cursive;
  font-size: 3rem;
  /* text-shadow: 5px 0 #232931; */
  color: red;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  margin: 5px 0;
  font-family: "Indie Flower", cursive;
}

footer {
  /* margin-top: 5%; */
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
  /* position: absolute; */
  /* bottom: 10px; */
  width: 100%;
  /* visibility: hidden; */
  display: none;
}

input {
  height: 2rem;
  width: 21rem;
  font-size: 2rem;
  margin-left: 10px;
}

label {
  text-align: left;
  margin-right: 10px;
  display: inline-block;
  width: 300px;
}

/* h2 {
  display: block;
  font-family: sans-serif;
  font-size: 4rem;

}

h4 {
  display: block;
  font-family: cursive;
  font-size: 3rem;
} */

/* Class */
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  /* visibility: hidden; */
  display: none;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-right: 30px;
  padding: 0 10px;
  border: 2px dotted white;
}

.btn {
    display: block;
    height: 2rem;
    width: 8rem;
    margin: 30px auto 20px;
}

.dice-image {
  width: 80%;
}

.popup {
  display: flex;
  width: 100%;
  justify-content: center;
  /* text-align: center; */
  margin: auto;
}

.details {
  width: 50%;
  border: 2px double white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}

.start-play {
  display: inline-block;
  width: 21rem;
  height: 3rem;
  margin: 1.5rem 0 0;
  cursor: pointer;
  background-color: #0d6efd;
}

.final {
  display: none;
}

.final-display {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: auto;
  flex-direction:column;
}

/* Id */



/* Important */

h2 {
  display: block;
  text-align: center;
  margin: 3rem 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 4rem;

}

h4 {
  display: block;
  text-align: center;
  margin: 2rem 0;
  width: 100%;
  font-family: cursive;
  font-size: 2.5rem;
  color: wheat;
}